.body {
    margin: 0;
    font-family: 'Bellota Text', cursive;
}

.header{
    background-color: rgba(144, 237, 113, 0.859);
    font-family: 'Gloock', serif;
}

.header_image{
    width: 40px;
    height: 40px;
    margin: 15px;
}

.header_up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
}

.header_nav .nav_links {
    background-color: rgb(44, 81, 31);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    color: white;
    height: 30px;
    align-items: center;
    margin: auto;
}

.ul {
    display: none;
}

.linkthree {
    font-style: none;
    color: white;
    text-decoration: none;
}

.main {
    padding: 10px;
    justify-content: center;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}

.div-title1, .div-title2, .div-title3 {
    font-family: 'Gloock', serif;
}

.div1 {
padding: 10px;
border-bottom: 1px solid black;
}

.div2{
    border-left: 5px solid rgb(181, 231, 164);
    margin-left: 20px;
    font-family: 'Bellota Text', cursive;
    padding-left: 20px;
    margin-bottom: 30px;
}

.div3{
    padding: 10px;
    border-top: 1px solid black;
}

.aside {
    display: none;
}

.footer{
    background-color: rgba(144, 237, 113, 0.859);
    padding: 20px;
    font-family: 'Gloock', serif;
}

.footer_div{
    align-content: center;
    display: flex;
    flex-direction: column;
}

.footer_list{
    background-color: rgb(44, 81, 31);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    height: 40px;
    align-items: center;
    color: white;
}

.footer_rrss{
    background-color: rgb(82, 123, 73);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 2%;
}


.fb, .tw, .google {
    height: 20px;
    width: 20px;
    padding: 10px;
}
